<link rel="stylesheet" href="components/components.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section id="stayintouch">
  <h3>Leaving Already? Let's stay in touch!</h3>
  <ul class="social-icons">
    <li>
      <a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/kamanachapagain" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a class="github" aria-label="GitHub" href="https://github.com/Kamana5" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a class="email" aria-label="Email" href="mailto:kamana0123@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
</section>

<footer>
  <p>&copy; 2025 Kamana Chapagain. All rights reserved.</p>
</footer>
